<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918233472617-74gg61kcmq3d5j0sgqu340odldna88qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918233472617-74gg61kcmq3d5j0sgqu340odldna88qb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>918233472617-5usbkl5gdavth7sr7s334mvglgr6b5so.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB5M0MPjNZZxqjZhkXfrNz12hz25RWgK7w</string>
	<key>GCM_SENDER_ID</key>
	<string>918233472617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCom</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-91815</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-91815.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918233472617:ios:a1170aad3de8a9fb6b4cf8</string>
</dict>
</plist>